<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of todos" [routerLink]="['/', 'detail', todo.id]">
      Todo: {{ todo.text }}
      <ion-note slot="start">{{ todo.id }}</ion-note>
      <ion-button slot="end" (click)="logMe($event)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button (click)="showModal()">Add Todo</ion-button>
</ion-content>
